.earthquake {
	.video {
		transition: $transition;

		&.active {
			width: 81.7%;
		}
	}

	.left-box {
		width: 18.3%;
		height: 100%;
		background-color: #000;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		opacity: 0;
		transition: $transition;

		&.active {
			transform: translateX(0%);
			opacity: 1;
		}

		.map-title {
			height: 5%;
			background-color: $red;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.4vw;
		}

		.info {
			padding: 11% 10%;
			.intensity {
				color: #000;
				font-size: 1.12vw;
				font-weight: bold;
				display: inline-block;
				padding: 0.2vw 1vw 0.1vw 0.8vw;
				margin-bottom: 5%;
				&-5 {
					background-color: #ffc000;
				}
				&-4 {
					background-color: #ff0;
					margin-top: 5%;
				}
			}
		}

		.qr {
			padding: 0% 10%;
			.code {
				width: 33%;
				aspect-ratio: 1 / 1;
				background-color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 86%;
				}
			}

			p {
				margin-top: 4%;
				font-size: 1.1vw;
				color: #bbb;
			}
		}
	}

	.bottom-box {
		width: 81.7%;
		height: 18.5%;
		background-color: #0078df;
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translateY(100%);
		opacity: 0;
		transition: $transition;

		&.active {
			transform: translateY(0%);
			opacity: 1;

			.track1 {
				animation: marquee1 20s linear infinite;
				animation-delay: 2s;
			}

			.track2 {
				animation: marquee2 20s linear infinite;
				animation-delay: 2s;
			}
		}

		.title {
			display: flex;
			height: 40%;
			background-image: linear-gradient(
				to right,
				rgba(0, 30, 83, 0.5) 16%,
				rgba(0, 69, 144, 0.5) 68%,
				rgba(0, 120, 223, 0.5) 96%
			);

			h1 {
				width: 15%;
				background-color: #062254;
				clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
				font-size: 1.8vw;
				display: flex;
				align-items: center;
				padding-left: 1.6vw;
			}

			h2 {
				display: flex;
				align-items: center;
				padding-left: 1vw;
				font-size: 1.88vw;
			}
		}

		.marquee {
			width: 100%;
			position: absolute;
			bottom: 0;
			right: -1vw;
			height: 60%;
			display: flex;
			align-items: center;
			overflow-x: hidden;
		}
	}

	.avatar {
		width: 13.4%;
		height: 31.9%;
		position: absolute;
		bottom: 11%;
		right: 3%;
		opacity: 0;
		transition: $transition;
		transform-origin: bottom right;

		&.active {
			opacity: 1;
		}

		&.zoom1 {
			transform: scale(1.33);
			// width: 17.9%;
			// height: 42.4%;
		}

		&.zoom2 {
			transform: scale(1.65);
			// width: 22.3%;
			// height: 52.8%;
		}
	}
}
