.typhoon {
	.video {
		transition: $transition;

		&.active {
			width: 85%;
		}
	}

	.left-box {
		width: 28%;
		height: 85.5%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(
			to right,
			#000 0%,
			#000 73%,
			rgba(0, 0, 0, 0.46) 88%,
			rgba(0, 0, 0, 0) 99%
		);
		padding-top: 2.5%;
		padding-left: 2%;

		transform: translateX(-100%);
		opacity: 0;
		transition: $transition;

		&.active {
			transform: translateX(0%);
			opacity: 1;
		}

		.map {
			margin-right: 28%;

			.map-title {
				background-color: $red;
				font-size: 1.4vw;
				padding: 3%;
			}

			.map-image {
				width: 100%;
			}
		}

		.info {
			margin-top: 14%;
		}
	}

	.bottom-box {
		width: 100%;
		height: 15%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #0a7cde;
		transform: translateY(100%);
		opacity: 0;
		transition: $transition;

		&.active {
			transform: translateY(0%);
			opacity: 1;

			.track1 {
				animation: marquee1 20s linear infinite;
				animation-delay: 2s;
			}

			.track2 {
				animation: marquee2 20s linear infinite;
				animation-delay: 2s;
			}
		}

		.title {
			width: 12%;
			height: 100%;
			position: absolute;
			z-index: 100;
			background-image: linear-gradient(
				to bottom,
				#003d6a,
				#004071 29%,
				rgba(0, 68, 120, 0.73) 56%,
				rgba(0, 10, 18, 0.2)
			);
			clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
			display: flex;
			align-items: center;
			padding-left: 2.4%;

			h1 {
				font-size: 2.2vw;
			}
		}

		.subtitle {
			width: 100%;
			position: absolute;
			top: 0;
			right: 0;
			padding-left: 13%;
			height: 34%;
			background-image: linear-gradient(
				to right,
				rgba(0, 30, 83, 0.4) 50%,
				rgba(0, 69, 144, 0.4) 81%,
				rgba(0, 120, 223, 0.4) 91%
			);
			display: flex;
			align-items: center;

			h2 {
				font-size: 1.6vw;
				font-weight: 500;
			}
		}

		.marquee {
			width: 87%;
			position: absolute;
			bottom: 0;
			right: 0;
			height: 66%;
			display: flex;
			align-items: center;
			overflow-x: hidden;
		}
	}

	.avatar {
		width: 13.4%;
		height: 31.9%;
		position: absolute;
		right: 3%;
		bottom: 9.8%;
		opacity: 0;
		transition: $transition;

		&.active {
			opacity: 1;
		}

		&.zoom1 {
			width: 17.9%;
			height: 42.4%;
		}

		&.zoom2 {
			width: 22.3%;
			height: 52.8%;
		}
	}

	.qr-box {
		width: 33%;
		height: 10%;
		position: absolute;
		bottom: 4%;
		right: 2%;
		background-color: #0a7cde;
		display: flex;
		justify-content: space-between;
		opacity: 0;
		transition: $transition;

		&.active {
			opacity: 1;
		}

		.title {
			width: 22%;
			background-image: linear-gradient(
				to bottom,
				#004272,
				rgba(0, 85, 149, 0.73) 40%,
				rgba(0, 105, 190, 0)
			);
			clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
			display: flex;
			align-items: center;
			padding-left: 4%;
		}

		.content {
			display: flex;
			align-items: center;
			padding-right: 3%;
		}
		.qrcode {
			height: 100%;
			aspect-ratio: 1 / 1;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 86%;
			}
		}
	}

	.qr-avatar {
		width: 11.2%;
		height: 26.7%;
		position: absolute;
		right: 7.65%;
		bottom: 13.9%;
		opacity: 0;
		transition: $transition;

		&.active {
			opacity: 1;
		}

		&.zoom1 {
			width: 13.4%;
			height: 31.9%;
		}

		&.zoom2 {
			width: 17.9%;
			height: 42.4%;
		}

		video {
			height: 100%;
		}
	}
}
