@import './reset';
@import './variables';

body {
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	font-family: 'Spoqa Han Sans Neo', sans-serif;
}

.wrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 9;
	border: 4px solid red;
}

.p1 {
	.video {
		width: 85%;
		aspect-ratio: 16 / 9;
		position: absolute;
		top: 0;
		right: 0;
		// transform-origin: top right;
		background-color: aquamarine;
	}

	.left-box {
		width: 28%;
		height: 85.5%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: brown;
	}

	.bottom-box {
		width: 100%;
		height: 15%;
		position: absolute;
		bottom: 0;
		background-color: darkblue;
	}
}
