@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background: rgba(160, 114, 33, 0.32);
  text-shadow: none;
}

::selection {
  background: rgba(160, 114, 33, 0.32);
  text-shadow: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=submit],
input[type=tel],
input[type=url],
[type=textarea],
textarea {
  border-radius: 0;
  outline: none;
}

input[type=text],
input[type=password] {
  padding-left: 10px;
}

:root {
  --header-height: 100px;
  --layout-max-width: 1310px;
  --layout-margin: 3rem;
}

/* 스포카 한스 네오 */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: local("Spoqa Han Sans Neo Bold"), url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: local("Spoqa Han Sans Neo Medium"), url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: local("Spoqa Han Sans Neo Regular"), url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: local("Spoqa Han Sans Neo Light"), url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  src: local("Spoqa Han Sans Neo Thin"), url("../fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2");
}
/* 에스 코어 드림 */
@font-face {
  font-family: "S Core Dream";
  font-weight: 900;
  src: url("../fonts/S-CoreDream-9Black.woff") format("woff");
}
@font-face {
  font-family: "S Core Dream";
  font-weight: 800;
  src: url("../fonts/S-CoreDream-8Heavy.woff") format("woff");
}
@font-face {
  font-family: "S Core Dream";
  font-weight: 700;
  src: url("../fonts/S-CoreDream-7ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "S Core Dream";
  font-weight: 600;
  src: url("../fonts/S-CoreDream-6Bold.woff") format("woff");
}
@font-face {
  font-family: "S Core Dream";
  font-weight: 500;
  src: url("../fonts/S-CoreDream-5Medium.woff") format("woff");
}
@font-face {
  font-family: "S Core Dream";
  font-weight: 400;
  src: url("../fonts/S-CoreDream-4Regular.woff") format("woff");
}
@font-face {
  font-family: "S Core Dream";
  font-weight: 300;
  src: url("../fonts/S-CoreDream-3Light.woff") format("woff");
}
@font-face {
  font-family: "S Core Dream";
  font-weight: 200;
  src: url("../fonts/S-CoreDream-2ExtraLight") format("woff");
}
@font-face {
  font-family: "S Core Dream";
  font-weight: 100;
  src: url("../fonts/S-CoreDream-1Thin.woff") format("woff");
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}

video {
  width: 100%;
}

li {
  margin-top: 3%;
  display: flex;
  align-items: center;
}

li.no-bullet {
  margin-top: 0;
}

li::before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  background-color: #fff;
  margin-right: 8px;
  margin-bottom: 2px;
}

li.no-bullet::before {
  content: "";
  display: block;
  width: 8px;
  height: 18px;
  background-color: transparent;
}

.wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.headline {
  font-family: "S Core Dream", sans-serif;
}
.headline.small {
  font-size: 1.5vw;
}

p {
  font-size: 1.34vw;
}

p.t-lg {
  font-size: 2.4vw;
}

p.t-md {
  font-size: 1.2vw;
  margin-top: 4%;
}

p.t-sm {
  font-size: 1.14vw;
  line-height: 1.3;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}
.typhoon .video {
  width: 85%;
  aspect-ratio: 16/9;
  position: absolute;
  top: 0;
  right: 0;
}
.typhoon .left-box {
  width: 28%;
  height: 85.5%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #000 0%, #000 73%, rgba(0, 0, 0, 0.46) 88%, rgba(0, 0, 0, 0) 99%);
  padding-top: 2.5%;
  padding-left: 2%;
}
.typhoon .left-box .map {
  margin-right: 28%;
}
.typhoon .left-box .map .map-title {
  background-color: #6e0000;
  text-align: center;
  font-size: 1.4vw;
  padding: 3%;
}
.typhoon .left-box .map .map-image {
  width: 100%;
}
.typhoon .left-box .info {
  margin-top: 14%;
}
.typhoon .bottom-box {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0a7cde;
}
.typhoon .bottom-box .title {
  width: 12%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-image: linear-gradient(to bottom, #003d6a, #004071 29%, rgba(0, 68, 120, 0.73) 56%, rgba(0, 10, 18, 0.2));
  -webkit-clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
  display: flex;
  align-items: center;
  padding-left: 2.4%;
}
.typhoon .bottom-box .title h1 {
  font-size: 2.2vw;
}
.typhoon .bottom-box .subtitle {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 13%;
  height: 34%;
  background-image: linear-gradient(to right, #001e53 50%, #004590 81%, #0078df 91%);
  display: flex;
  align-items: center;
}
.typhoon .bottom-box .subtitle h2 {
  font-size: 1.6vw;
  font-weight: 500;
}
.typhoon .bottom-box .marquee {
  width: 87%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 66%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.typhoon .bottom-box .marquee .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}
.typhoon .avatar {
  width: 13.5%;
  height: 34.1%;
  position: absolute;
  right: 3%;
  bottom: 10%;
  background-color: darkgreen;
}
.typhoon .qr-box {
  width: 33%;
  height: 10%;
  position: absolute;
  bottom: 4%;
  right: 2%;
  background-color: #0a7cde;
  display: flex;
  justify-content: space-between;
}
.typhoon .qr-box .title {
  width: 22%;
  background-image: linear-gradient(to bottom, #004272, rgba(0, 85, 149, 0.73) 40%, rgba(0, 105, 190, 0));
  -webkit-clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.typhoon .qr-box .content {
  display: flex;
  align-items: center;
  padding-right: 3%;
}
.typhoon .qr-box .qrcode {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.typhoon .qr-box .qrcode img {
  width: 86%;
}
.typhoon .qr-avatar {
  width: 8.9%;
  height: 22.4%;
  position: absolute;
  right: 8%;
  bottom: 14%;
  background-color: darkgreen;
}

.earthquake .video {
  width: 81.7%;
  aspect-ratio: 16/9;
  position: absolute;
  top: 0;
  right: 0;
}
.earthquake .left-box {
  width: 18.3%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}
.earthquake .left-box .map-title {
  height: 5%;
  background-color: #6e0000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4vw;
}
.earthquake .left-box .info {
  padding: 11% 10%;
}
.earthquake .left-box .info .intensity {
  color: #000;
  font-size: 1.12vw;
  font-weight: bold;
  display: inline-block;
  padding: 0.2vw 1vw 0.1vw 0.8vw;
  margin-bottom: 5%;
}
.earthquake .left-box .info .intensity-5 {
  background-color: #ffc000;
}
.earthquake .left-box .info .intensity-4 {
  background-color: #ff0;
  margin-top: 5%;
}
.earthquake .left-box .qr {
  padding: 0% 10%;
}
.earthquake .left-box .qr .code {
  width: 33%;
  aspect-ratio: 1/1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earthquake .left-box .qr .code img {
  width: 86%;
}
.earthquake .left-box .qr p {
  margin-top: 4%;
  font-size: 1.1vw;
  color: #bbb;
}
.earthquake .bottom-box {
  width: 81.7%;
  height: 18.5%;
  background-color: #0078df;
  position: absolute;
  bottom: 0;
  right: 0;
}
.earthquake .bottom-box .title {
  display: flex;
  height: 40%;
  background-image: linear-gradient(to right, #001e53 16%, #004590 68%, #0078df 96%);
}
.earthquake .bottom-box .title h1 {
  width: 15%;
  background-color: #062254;
  -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  font-size: 1.8vw;
  display: flex;
  align-items: center;
  padding-left: 1.6vw;
}
.earthquake .bottom-box .title h2 {
  display: flex;
  align-items: center;
  padding-left: 1vw;
  font-size: 1.88vw;
}
.earthquake .bottom-box .marquee {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: -1vw;
  height: 60%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.earthquake .bottom-box .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}
.earthquake .avatar {
  width: 13.5%;
  height: 34.3%;
  position: absolute;
  bottom: 11%;
  right: 3%;
  background-color: green;
}/*# sourceMappingURL=styles.css.map */